@media (min-width:768px) and (max-width:991px){
   #team-area .col-sm-7.doctor {
    transform: translateY(0);
}
    #gallery-area .col-sm-3{
        width: 50%;
        height: 250px;
}
}
@media (max-width:767px){
    .carousel-caption {
   display: none;
}
    #team-area .col-sm-6 {
    text-align: center;
}
    #team-area .col-sm-6 img{
        margin: 0 auto;
    }
    .overlay1 .img-responsive{
       width: 100%;
    }
    .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
    .navbar-default .navbar-toggle {
    border-color: rgba(221, 221, 221, 0.53);
}
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(221, 221, 221, 0.12);
}
}
@media (min-width:768px) and (max-width:850px){
    .carousel-caption.overlay h1 span {
    font-size: 32px !important;
}
    .carousel-caption.overlay h1{
      font-size: 28px !important;
    } 
}